<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wordstram</title>
</head>
<header>
    <!-- First section -->
    <div>
        <section>
            <h1>Get This Ultimate Benefit</h1>
</header>
<p>Additional benefit,feature,or the<br />
    "how" you deliver the benefit</p>
<button>CTA</button>
<!-- Random image -->
<img src="">
</section>
</div>

<!-- Second section -->
<div>
    <main>
        <section>
            <h2>Optional value proposition statement here</h2>
            <p>State the problem or pain point,present<br />
                your offer as the solution,and then the<br />
                ultimate benefit.</p>
            <br />
            <br />
            <ul>
                <li>Feature or benefit #1</li>
                <li>Feature or benefit #2</li>
                <li>Feature or benefit #3</li>
            </ul>
            <br />
            <br />
            <p>Urgent statement or reinforcement of the<br />
                "why" plus a call to action phase.</p>
            <form>
                <fieldset>
                    <h3>Reinforce the offer</h3>
                    <label for="makeyourformsaccesible">Make your forms accesible</label>
                    <br />
                    <input type="text">
                    <br />
                    <label for="replace submit with a specific CTA">Replace submit with a specific CTA</label>
                    <br />
                    <input type="text">
                    <br />
                    <label for="trigger a thank you page">Trigger a thank you page</label>
                    <br />
                    <input type="text">
                    <br />
                    <br />
                    <button>CTA</button>
                </fieldset>
            </form>
        </section>
    </main>
</div>
<br />
<br />

<fieldset>
    <aside>
        <p>"Customer review or quote<br />
            from testimonial addressing<br />
            clear benefits or features".<br />
            -Their name</p>
        <hr />
        <p>"Customer review or quote<br />
            from testimonial addressing<br />
            clear benefits or features".<br />
            -Their name
        </p>
    </aside>
</fieldset>

<footer>
    WordStream
</footer>

<body>